
body{
  
  
    min-height: 100%;
    position: absolute;
    margin: 0;
    min-height: 100%;
    box-sizing: inherit;
    background-color: #272727;
  }
  .gradient {
   
   
   border: 2px solid rgb(245, 220, 220);
    width: 50px;
    height: 50px;
  }
  
  .logo{
    margin-left: 50px;
   
  }
  .link-text-nowrap
  {
    white-space: nowrap;
  }
  
  .heading{
    color: #ede6e6;
    text-align: center;
    padding: 40px;
    margin-top: 150px;
    
   
  }
  .top-container{
    position: fixed;
   position: fixed;
    width: 100%;
  }
  .middle-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   
   
  }
  .container{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
   
  /* .bottom-container {background-color: bisque;
      text-align: center;
      
      background-color: DarkSalmon;
      color: rgb(236, 230, 220) ;  
          bottom: 1px;
          width: 100%;
          height: 60px;
          margin-left: 0px;
          background-color: rgb(223, 0, 223);
         
         
    
    } */
  
   
   
    
    
    
    .button{
      margin-top: 100px;
      padding-bottom: 0px;
      ;
      
      
    }
    
    
    .bottom-container {
      
      background-color: #272727;
      font-size: 18px;
      height: 90px;
      text-align: center;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      right: 0;
   
      
    } 
      
  
     .link{
      margin-top: 30px;
     }
    
    .footer-link {
      padding: auto;
      font-family: 'montserate', sans-serif;
      color: #bebfc0a8;
      text-decoration: none;
   
     
    } 
    .footer-text{
      color: #828181;
  
    }
    
    .footer-link:hover {
      color: #dde0e2;
    }
  
    
  
    .button1 {
      width: 320px;
      height: 190px;
      margin-bottom: 30px;
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      background: #2c2c2cc0;
      border-radius: 20px;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 800;
      border: 0.1px solid rgb(72, 70, 70);
      font-size: 25px;
      background-image: url(../PHOTOS/image.png);
      background-blend-mode: screen;
      background-size: 120px;
      background-position:center; ;
      background-repeat: no-repeat;
      text-shadow:2px 4px #050505;
      opacity:0.1px;
    
    }
    
    .button1:hover {
  
      border: 1px solid white;
      box-shadow: 5px 9px 13px #e0dddd19;
      text-decoration: none;
    }
    
  .nav-item {
    font-size: 1.35rem;
      text-decoration: #dde0e2;}
    /* Use the rgba() function to specify the color and the opacity of the modal */
    .modal-content {
      background-color: rgba(255, 0, 0, 0.5);
    }
    .modal-title {
      color: #ede6e6;
      margin-left: 20%;
      margin-right: 20%;}
      .HEAD1{
        font-family: cursive;font-style: unset;color: #501bef;text-shadow:5px 2px rgb(126, 12, 12);
      }
      .box1{
        border:dashed rgb(92, 91, 91) 2px ; margin-top: 0px;background-color:rgba(0, 0, 255, 0.2);height: 100px;
      }
      .back-vedio{ z-index: -1;object-fit: cover;display: flex;height: 110vh;width:100%;  align-items: center;
        
      }
      
      .back-vedio::-webkit-media-controls-panel {
        display: none !important;
        opacity: -1 !important;
      }
      
      
      .home1{
        position: relative;
        display: flex;align-content: center;
      }
  
      